* {
  font-family: sans-serif;
	margin: 0;
	padding: 0;
}

body {
  background-color: gray;
	font-family: sans-serif;
	font-size: 85%;
	margin: 0 auto;
	width: 410px;
	height: 410px;
	padding: 20px 0;	
}

h1 {
	font-size: 140%;
	margin-left: 55px;
	margin-bottom: 10px;
}

.buttons	{
	height: 125px;
	padding: 50px 15px;
	float: left;
}

.buttons img {
	width: 25px;
	height: 25px;
}

#display_panel {
	height: 125px;
	width: 300px;
	overflow: hidden;
	float: left;
}

#image_list {
	left: 0px;
	position: relative;   
    width: 900px;
    list-style: none;  
}

#image_list li	{
	float: left;
	width: 100px;
}

#image_list li img	{
	width: 95px;
  height: 100px;
	
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 35px 0;
  width: 85%;
}

.navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar ul li::after {
  background: #a08b06;
  bottom: -10px;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  transition: 0.5s;
  width: 0;
}

.navbar ul li:hover::after {
  width: 100%;
}

span {
  background: #a08b06;
  border-radius: 25px;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  transition: 0.5s;
  width: 0;
  z-index: -1;
}
