* {
  font-family: sans-serif;
}

body {
  background-color: gray;
  margin: 0 auto;
  width: 640px;
  padding: 0 2em 1em;
}
h1 {
  text-align: center;
}
.cform {
  margin-bottom: 1em;
}
label {
  display: inline-block;
  width: 11em;
  text-align: right;
  vertical-align: top;
}
input, select, textarea {
  margin-left: 1em;
  margin-right: 0.5em;
}
select { 
  width: 13em; 
}
textarea {
  height: 5em;
  width: 20em;
}
span {
  color: red;
}
.messages {
  border: 3px solid red;
  color: red;
  padding: 2em;
  margin-bottom: 2em;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 35px 0;
  width: 85%;
}

.navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar ul li::after {
  background: #a08b06;
  bottom: -10px;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  transition: 0.5s;
  width: 0;
}

.navbar ul li:hover::after {
  width: 100%;
}