* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: gray;
  font-size: 87.5%;
  width: 550px;
  margin: 0 auto;
  padding: 15px 25px;
}
h1 { 
  font-size: 250%;
  text-align: center;
  margin-top: 75px;
}
h2 {
  font-size: 120%;
  padding: .25em 0 .25em 25px;
  padding-top: 1em;
  cursor: pointer;
  background: url(../Images/plus.png) no-repeat left center;
}
h2.minus {
  background: url(../Images/minus.png) no-repeat left center;
}
a {
  color: black;
  text-decoration: none; 
}
a:focus, a:hover { 
color: blue; 
}
div {
  display: none;
}
div.open {
  display: block;
}
ul {
  padding-left: 45px;
}
li {
  padding-bottom: .25em;
}
p {
  padding-bottom: .25em;
  padding-left: 25px;
}