/* Thatcher Jackson
   4/27/2023
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@font-face {
  font-family: 'kaushanscript';
  src: url('../fonts/kaushanscript-regular-webfont.woff') format('woff'),
       url('../fonts/kaushanscript-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.banner {
  background-image: url(../image/portfolioBanner.png);
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
}

body {
  background: linear-gradient(grey, #24252A);
  margin: 0;
  padding: 0;
}

button {
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  padding: 9px 25px;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0,136,169,0.8);
}

footer {
  background-color: #24252A;
  padding-left: 10px;
}

footer img {
  margin-bottom: 15px;
}

footer p {
  color: #EDF0F1;
  font-family: 'Montserrat', Times, sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-left: 4px;
  padding-top: 10px;
}

h2 {
  color: #24252A;
  font-family: 'Montserrat', Times, sans-serif;
  font-weight: 700;
}

header {
  align-items: center; 
  background-color: #24252A;
  display: flex; /**/
  justify-content: space-between; 
  padding: 10px 10%;
}

li, a, button {
  color: #EDF0F1;
  font-family: 'Montserrat', Times, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.logo {
  color: #EDF0F1;
  font-family: 'kaushanscript', Times, sans-serif;
  font-size: 30px;
  font-weight: 500;
}

main {
  text-align: center;
}

nav {
  list-style: none;
}

nav li {
  display: inline-block; 
  padding: 0px 20px;
}

nav li a {
  transition: all 0.3s ease 0s; 
}

nav li a:hover {
  color: #0088A9;
}
